@import url("file:///home/anshul333y/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: CaskaydiaCove Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @foreground;
}

#clock,
#workspaces,
#window,
#tray,
#network,
#cpu,
#memory,
#battery,
#backlight,
#pulseaudio {
    background: @color0;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#clock {
    color: @color4;
    border-radius: 10px;
    margin-left: 10px;
    border-right: 0px;
}

#workspaces {
    background: @color0;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#workspaces button {
    padding: 5px;
    color: @color4;
    margin-right: 5px;
}

#workspaces button.active {
    color: @color5;
}

#workspaces button.focused {
    color: @color5;
    background: @color1;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @background;
    background: @color2;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @foreground;
    color: @background;
    border-radius: 10px;
}

#custom-pacman-updates {
    padding: 0px 10px 0px 9px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    background: @color0;
    border-radius: 10px;
    margin-left: 10px;
}

#window {
    color: @color4;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#cpu {
    color: @color4;
    border-radius: 10px 0px 0px 10px;
}

#memory {
    color: @color4;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#network {
    color: @color4;
    border-radius: 10px 0px 0px 10px;
}

#battery {
    color: @color4;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#backlight {
    color: @color4;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: @color4;
}

#pulseaudio.microphone {
    color: @color4;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-wlogout {
    background: @color0;
    padding: 0px 10px 0px 7px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: @color4;
    border-radius: 10px;
    margin-right: 10px;
}
